
<div class="container" id="root">
  <div class="row question">
    <h1>
      <p>Тест завершен. Ссылка для доступа к результатам</p>
      <input type="text" name="FirstName" value="<%= @test_link %>" style="width: 100%;">
    </h1>
  </div>
  <div class="row" id="answers">
      <form action="/result">
        <input type="hidden" name="key" value=<%= @key %> />
        <div class="submit"><input type="submit" value="Посмотреть результаты" /></div>
      </form>
      <form action="/">
        <div class="submit"><input type="submit" value="Новый тест" /></div>
      </form>
</div>
</div>
