
<div class="container" id="root">
  <div class="row" id='root'>
    <div class="mmpi">
      <h2>Стандартизированный многофакторный метод исследования личности (СМИЛ)</h2>
        <%= erb :'mmpi/instruction' %>
        <%= erb :'mmpi/additional_info' %>
        <div class="start_form">
        <form action="/mmpi" method="get">
          <div class="sex_fields">
            <input type="radio" class="radio" name="sex" value="male" checked="checked"/>
            <label for="male">Мужчина</label>
            <input type="radio" class="radio" name="sex" value="female" />
            <label for="female">Женщина</label><br>
            <input type="radio" class="radio" name="sex" value="boy" disabled="disabled"/>
            <label for="boy">Мальчик (13-15 лет)</label>
            <input type="radio" class="radio" name="sex" value="girl" disabled="disabled"/>
            <label for="girl">Девочка (13-15 лет)</label>
          </div>
          <div class="sex_submit">
            <input type="submit" value="Начать тест">
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<script>
app = new Vue ({
  el :'#root',
  data: {
    show_instr: false,
    instr_text: { false: 'Читать подробную инструкцию>>>', true: '<<<Скрыть инструкцию' },
    show_info: false,
    info_text: { false: 'Далее>>>', true: '<<<Скрыть' }
  },
  methods: {

  }
});
</script>
