
<div class="container" id="root">
  <div class="row">
    описание и правила тестирования
  </div>
  <div class="row">
    <form class="start_form" action="/mmpi" method="get">
      <div class="sex_fields">
        <input type="radio" class="radio" name="sex" value="male" />
        <label for="male">Мужчина</label>
        <input type="radio" class="radio" name="sex" value="female" />
        <label for="female">Женщина</label>
      </div>
      <div class="sex_submit">
        <input type="submit" value="Начать тест">
      </div>
    </form>
  </div>

</div>
