
<div class="container" id="root">
  <div class="row question">
    <h1>
      <p id="question_text">{{question}}</p>
    </h1>
  </div>
  <div class="row" id="answers">
      <div class="truth"><button class="button-xlarge" v-on:click="onTruth">Верно</button></div>
      <div class="false"><button class="button-xlarge" v-on:click="onFalse">Неверно</button></div>
</div>
</div>
<script>
  function put_answer(question, answer) {
    axios.get('/?question=' + question + '&answer='+answer)
       .then(function (response) {
         app.number = response.data.number;
         app.question = response.data.question;
         if (response.data.finished == true)
           {
             window.location.replace('/finished');
           }
         console.log(response);
       })
       .catch(function (error) {
         console.log(error.response.data);
       });
  }

</script>
<script>
  axios.defaults.headers.common['X-Requested-With'] = 'XMLHttpRequest';
  var app= new Vue ({
    el: '#root',
    data: { number: '<%= @data[:number] %>',
            question: '<%= @data[:question] %>',
            finished: false },
    methods: {
      onTruth(){
        put_answer(this.number, 'true')
      },
      onFalse(){
        put_answer(this.number, 'false')
      }
    }
  })

</script>
