
<div class="container" id="root">
  <div class="row processing" v-show="loading" >
    <h3> <i class="fas fa-sync fa-spin"></i> Обработка ответа... </h3>
  </div>
  <div class="row question">
    <h1>
      <p id="question_text">{{number}}. {{question}}</p>
    </h1>
  </div>
    <div class="row" id="answers">
      <div class="truth"><button class="button-xlarge" v-on:click="onTruth" v-on:keyup.left="onTruth">Верно<br>(клавиша 1)</button></div>
      <div class="false"><button class="button-xlarge" v-on:click="onFalse" v-on:keyup.1="onFalse">Неверно<br>(клавиша 2)</button></div>
      <div class="do_not_know"><button class="button-xlarge" v-on:click="on_DNK">Не знаю</button></div>
    </div>
</div>
<script type="application/javascript">
  function put_answer(question, answer) {
    app.loading = true;
    axios.get('/mmpi?question=' + question + '&answer='+answer)
       .then(function (response) {
         app.number = response.data.number;
         app.question = response.data.question;
         if (response.data.finished == true)
           {
             window.location.replace('/finished');
           }
        app.loading = false;
       })
       .catch(function (error) {
         console.log(error.response.data);
       });
  }

</script>
<script type="application/javascript">
  axios.defaults.headers.common['X-Requested-With'] = 'XMLHttpRequest';
  var app= new Vue ({
    el: '#root',
    data: { number: '<%= @data[:number] %>',
            question: '<%= @data[:question] %>',
            finished: false,
            loading: false},
    mounted: function() {
      window.addEventListener('keyup', function(event){
        if (event.keyCode == 49){
          app.onTruth();
        }
        if (event.keyCode == 50){
          app.onFalse();
        }
      });
    },
    methods: {
      onTruth(){
        put_answer(this.number, 'true')
      },
      onFalse(){
        put_answer(this.number, 'false')
      },
      on_DNK(){
        put_answer(this.number, 'dnk')
      }
    }
  });

</script>
