
<div class="article">
    Вам будет предъявлена целая серия разных утверждений. Оценивая каждое из них, не тратьте много времени на раздумья.
  Наиболее естественна первая непосредственная реакция. Внимательно вчитывайтесь в текст, дочитывая до конца каждое утверждение
  и оценивая его все целиком как верное или неверное по отношению к Вам. Если Ваш ответ - «Верно», то нажмите кнопку «Верно» или цифру 1.
  Если Ваш ответ - «Неверно», то нажмите кнопку «Неверно» или цифру 2. Некоторые утверждения (для проверки Вашей внимательности) в опроснике
  звучат так: «Если вы согласны с утверждением нажмите кнопку «Не знаю»». В этом случае необходимо нажать кнопку «Не знаю».
    <div class="atrticle" v-if="show_instr">
        Обращайте внимание на утверждения с двойными отрицаниями. Например, «У меня никогда не было припадков с судорогами»: если не было, то Ваш ответ - «Верно»,
      и наоборот, если это с Вами было, то ответ «Неверно».
      Если некоторые утверждения вызывают большие сомнения, ориентируйтесь в ответе на то, что предположительно больше свойственно Вам.
      Если утверждение верно по отношению к Вам в одних ситуациях и неверно в других, то остановитесь на том ответе, который больше подходит в настоящий момент.
      Лишь в крайнем случае, если утверждение к Вам вообще не подходит, Вы можете ответить «Не знаю».
      Однако избыток ответов «Не знаю» также приведет к недостоверности результатов.
      Старайтесь отвечать искренно, иначе Ващи ответы будут распознаны как недостоверные и опрос придется повторить.
      Отвечая на разные пункты опросника, попытайтесь понять - «Какой (какая) я на самом деле?».
      Тогда полученные данные могут быть использованы с положительным для Вас эффектом.
      Результаты обследования не направлены на оценку Вашей личности с точки зрения того, «плохой» Вы человек или «хороший»: выявляются лишь особенности Ващего темперамента и
      профессионально важные качества.
      Отвечая даже на достаточно интимные вопросы, не смущайтесь, так как Ваши ответы никто не станет читать и анализировать:
      вся обработка данных ведется автоматически. Экспериментатор не имеет доступа к конкретным ответам, получая результаты лишь в виде обобщенных показателей,
      которые могут оказаться интересными и полезными для Вас (<a href="http://10.1.2.11?key=example">пример интерпретации доступной экспериментатору</a>).
    </div>
  <a style="cursor:pointer; color: blue;" v-on:click=" show_instr = !show_instr"> <span > {{instr_text[show_instr]}}</span> </a>
</div>
