<% return unless @result.reliable? %>
<div class="welsh_index">
  Индекс Уэлша: <%= @result.welsh_index %>,
    <% case @result.welsh_index %>
      <% when -6..6 %>
        <%= 'тревожность в пределах нормы.' %>
      <% when 7..11 %>
        <%= 'нерезко выраженная установка к подчеркиванию проблем, к драматизации своих трудностей, к аггравации состояния.' %>
      <% when -7..-11 %>
        <%= 'негативное отношение к тестированию, закрытость, неоткровенность.' %>
    <% end %>
</div>
<hr>
